<div class="section">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Actors</th>
        <th>DoesContain</th>
      </tr>
      <tr *ngFor="let item of moviesDB">
        <td>{{item.title}}</td>
        <td>{{item.year}}</td>
        <td>
          <span *ngFor="let x of item.actors; index as i">
            {{item.actors[i].name}} <br>
          </span>
        </td>
        <td>
          {{item.title | doesContain:'movie'}}
        </td>
      </tr>
    </table>
  </div>